body {
    display : flex;
    align-items: center;
    flex-direction: column;

}

li{
    cursor: pointer;
    align-self: center;
}

ol {
    width: 300px;
    background-color: whitesmoke;
    border: solid 2px rgb(124, 119, 119);
    border-radius: 5px;
    display : flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    position: relative;
}

#resetBtn {
    width: 80px;
    height: 40px;
    margin-left: 40px;
    background-color:rgb(38, 88, 215) ;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    position: relative;
}

#resetBtn:active {
    transform: scale(1.02);
    background-color:rgb(7, 66, 214) ;
}