body{
    height: 500px;
}
#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px 0px;
    width: 600px;
    justify-content: center;
    column-gap: 15px;
    margin: auto;
}
#container p{
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
    outline: none;

}
textarea{
    display: flex;
    position: relative;
    left: 100px;
    outline: none;
}

#contained{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px 0px;
    width: 600px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    column-gap: 15px;
    margin: auto;
}
#textColor, #textSize, #textFont{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 2px;
    outline: none;
}
#textColor:focus, #textSize:focus, #textFont :focus{
    box-shadow: 0px 0px 3px rgb(38,88,215);
}
#textSize{
    height: 19px;
}
